@{
    ViewBag.Title = "Blue Green";
}

<div class="container" role="main">

    <span id="tutorialName" style="display: none;">bluegreen</span>

    <div class="row ">
        <div class="page-header">
            <h1>Blue-Green Deployment</h1>
        </div>
    </div>

    <div class="row ">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="bluegreenBlock">
                        <p>
                            How hard it is for you to upgrade your application with
                            minimal downtime?
                        </p>
                        <p>
                            This page shows the load balancing between application versions
                            based on route mappings. <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">See more in the description</a>.
                        </p>
                    </div>
                    <div id="donut-example" style="height: 250px;"></div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="javascript:startTimer();" class="btn btn-default">Start</a>
                        <a href="javascript:reset();" class="btn btn-default">Reset</a>
                        <a href="javascript:stopTimer();" class="btn btn-default">Stop</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">Application Environment Information</a>
                        </h4>
                    </div>
                    <div id="collapseZero" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>
                                <b>Application Name:</b>&nbsp;<span>@ViewBag.applicationName</span>
                            </p>
                            <p>
                                <b>Instance Index:</b>&nbsp;<span id="instanceIndex">@ViewBag.instanceIndex</span>
                            </p>
                            <p>
                                <b>Container Address:</b>&nbsp;<span id="containerAddr">@ViewBag.containerAddress</span>
                            </p>
                            <p>
                                <b>Cell Address:</b>&nbsp;<span id="instanceAddress">@ViewBag.cellAddress</span>
                            </p>
                            <p>
                                <b>.NET Framework Version:</b>&nbsp;<span id="javaVersion">@ViewBag.dotNetVersion</span>
                            </p>
                            <hr />
                            <h4>Services</h4>

                            <p>
                                <b><span>user-provided</span></b>:&nbsp;<span>@ViewBag.userProvidedService</span><br />
                            </p>

                            <div id="resultsBlock-health"></div>
                            <div id="resultsBlock-info"></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Description</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div id="description" class="panel-body">
                            <p>
                                Blue-Green deployment is an approach to upgrading application with
                                minimal downtime. <a href="https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/blue-green.html"
                                                     target="_blank">&nbsp;Learn more.</a>
                            </p>
                            <p>
                                It also enables easy rollback to the old version if the new
                                version experience problems. It works by keeping both versions online,
                                and switching from the old version to the new version.
                            </p>
                            <img src="~/Images/bluegreen1.png" class="img-rounded img-responsive center-block" alt="Cinque Terre"
                                 width="600" height="200">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--  ROW -->

</div>

<script>
    var INTERVAL = 1000
    var timerID = 0;
    var versions = {};
    var startTime;

    var colors = ["#90A6D4", "#90D49C"];

    var chartData = [{
        label: "blue",
        value: 10
    }, {
        label: "green",
        value: 1
    }]

    var chart = Morris.Donut({
        element: 'donut-example',
        colors: colors,
        data: chartData,
        resize: true
    });

    function startTimer() {
        timerID = setInterval(startLoad, INTERVAL);
    }

    function stopTimer() {
        if (timerID)
            clearInterval(timerID);
    }

    function reset() {
        updateScreen(true);

    }

    function startLoad() {

        $.get("/home/bluegreencheck", function (appName) {

            if (appName in versions) {
                versions[appName] = 1 + versions[appName];
            } else {
                versions[appName] = 1;
            }

            updateScreen(false);
        });

    }
    function updateScreen(resetCounts) {
        var html = '';

        chartData = [];

        // MMB: This can be templated instead of creating HTML in the function
        var i = 2;
        var color;
        for (var version in versions) {
            if (resetCounts)
                versions[version] = 0

            html += '<p><b><span style="color:' + colors[i % 2] + '">'
                + version + '</span></b> - ' + versions[version]
                + '</p>'

            i++;

            item = {};
            item.label = version;
            item.value = versions[version];
            chartData.push(item);
        }

        chart.setData(chartData);

        $('#bluegreenBlock').html(html);
    }

</script>
<!--  /.PAGE BODY -->

<footer class="footer">
    <div class="container">
        <p class="text-muted">Provided to you by Pivotal!</p>
    </div>
</footer>
